.cont{
  position:relative;

  .l-main &:nth-of-type(1){
    background-image:url('../images/main/cont.jpg');
    background-size:cover;
    background-position:center top;
    background-repeat: no-repeat;
  }

  .l-about &{
    padding-right:rem(40px);
    padding-left:rem(40px);
  }

  .l-ad-platform &{
    padding-right:rem(20px);
    padding-left:rem(20px);
    padding-top:rem(77px);
    padding-bottom:rem(100px);

    white-space: nowrap;
  }
  
  .l-recruit &{
    padding-left:rem(40px);
    padding-right:rem(40px);

    & > h3{
      padding-top:rem(70px);
      padding-bottom:rem(51px);
      text-transform: uppercase;
    }
    &-hiring-info{
      @extend .accordion-cont;
      & > h3{
        color: #3479f8;
      }
      & > h4{
        padding-top:rem(50px);
        
        font-size:rem(20px);
      }
    }
  }
  .l-contact &{
    padding-left:rem(25px);
    padding-right:rem(25px);
    &-address{
      padding-top:rem(43px);
      padding-bottom:rem(113px);

      font-size:rem(19px);
      letter-spacing: rem(-1px);
      text-align: center;
      line-height:rem(28px);

      background-color:#FFF;

      & > h3{
        padding-top:rem(34px);
        padding-bottom:rem(34px);

        font-weight: normal;
        font-size:rem(30px);
        letter-spacing: rem(7px);
        text-transform:uppercase;
      }

      em,
      address {
        font-style: normal;
      }
    }
  }
}