.uri{
  &-work{
    display:block;
    background-size:100% 100%;
  }

  &-common{
    text-indent: -9999px;
    &.ico-more-news{
      width:rem(49px);
      height:rem(25px);
    }
    &.ico-news-close{
      width:rem(30px);
      height:rem(30px);
    }
  }
}

.btn-next,
.btn-prev,
.btn-close{
  width:rem(60px);
  height:rem(60px);
}

.btn-close{
  #popup-viewer-detail &{
    @extend .uri-work.btn-close-white;
  }
}