.section{
  position:relative;

  &.l-about,
  &.l-ad-platform,
  &.l-recruit,
  &.l-contact{
    margin-top:rem(104px);
  }

  &.l-about{
    padding-top:rem(90px);
    background-color:#FFF;
    & > h2{
      font-size:rem(45px);
      font-weight:normal;
      line-height:rem(53px);
      letter-spacing: rem(3px);
    }
    & > p{
      margin:0;
      padding-top:rem(40px);
      padding-bottom:rem(60px);

      font-size:rem(20px);
      line-height:rem(32px);

      @extend .typo-thin;
    }
  }

  &.l-ad-platform{
    padding-top:rem(66px);
  }

  &.l-recruit{
    background-color:#FFF;

    & > h2{
      padding-top:rem(70px);
      padding-bottom:rem(63px);

      border:1px solid #e8e8e8;

      font-size:rem(30px);
    }
  }
  
  &.l-contact{
    background-color:#4a4d51;
    & > h2{      
      padding-top:rem(70px);
      padding-bottom:rem(63px);

      font-size:rem(30px);

      color:#F6F6F6;
    }
  }
}